.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.box-width {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.br-1rem {
  border-radius: var(--br);
}