.split {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 2);
}


@media (min-width: 40em) {
  .split {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacer);
  }

  .split > * {
    flex-basis: 100%;
  }
    
}