:root {
  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fs-lg: 4.25rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
  --spacer: 1.5rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
figure {
  margin: 0;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* general typography */
h1,
h3 {
  font-weight: var(--fw-300);
}
h2 {
  font-weight: var(--fw-200);
}
/* font families */
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans {
  font-family: var(--ff-sans);
}
/* font sizes */
.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-lg {
  font-size: var(--fs-lg);
}
/* font weights */
.fw-200 {
  font-weight: var(--fw-200);
}
.fw-300 {
  font-weight: var(--fw-300);
}
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-700 {
  font-weight: var(--fw-700);
}
/* text colors */
.text-clr-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-clr-neutral-200 {
  color: var(--clr-neutral-200);
}
.text-clr-neutral-300 {
  color: var(--clr-neutral-300);
}
.text-clr-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-clr-neutral-500 {
  color: var(--clr-neutral-500);
}
.text-clr-neutral-900 {
  color: var(--clr-neutral-900);
}
.text-clr-primary-300 {
  color: var(--clr-primary-300);
}
.text-clr-primary-400 {
  color: var(--clr-primary-400);
}
/* bg colors */
.bg-clr-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-clr-neutral-200 {
  background-color: var(--clr-neutral-200);
}
.bg-clr-neutral-300 {
  background-color: var(--clr-neutral-300);
}
.bg-clr-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.bg-clr-neutral-500 {
  background-color: var(--clr-neutral-500);
}
.bg-clr-neutral-900 {
  background-color: var(--clr-neutral-900);
}
.bg-clr-primary-300 {
  background-color: var(--clr-primary-300);
}
.bg-clr-primary-400 {
  background-color: var(--clr-primary-400);
}
.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  background: none;
}
.primary-nav {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  background: var(--clr-neutral-900);
  border-radius: var(--br);
  opacity: .9;
}
.primary-nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0.5em 0;
}
.nav-list li > a {
  color: var(--clr-neutral-100);
  font-family: var(--ff-serif);

}
@media (min-width: 40em) {
  .primary-nav {
    position: absolute;
    top: calc(var(--spacer) * 1.5);
    right: calc(var(--spacer) * 2);
    background: none;
  }

  .primary-nav li {
    font-size: 1rem;
  }

  .primary-nav li:last-of-type {
    margin-left: 3rem;
  }

  .primary-nav ul {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  .nav-list li > a {
    color: var(--clr-neutral-900);
  }


}
.flex-align-center {
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}
.box-width {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.br-1rem {
  border-radius: var(--br);
}
.split {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 2);
}
@media (min-width: 40em) {
  .split {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacer);
  }

  .split > * {
    flex-basis: 100%;
  }
    
}
.container {
  padding: 0 var(--spacer);
  max-width: 60rem;
  margin: 0 auto;
}
.flow-content > * + * {
  margin-top: var(--flow-space, 1em);
}
.xl-spacer {
  margin-top: 5em;
}
/* general styles */
body {
  font-size: var(--fs-400);
  font-family: var(--ff-sans);
  font-weight: var(--fw-300);
  color: var(--clr-neutral-900);
  padding: 1rem;
}
a {
  font-family: var(--ff-sans);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  text-decoration: none;
}
.primary-header {
  background-image: url(/docs/img/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  padding: 2rem;
}
@media (min-width: 40em) {
  .primary-header {
    min-height: 75vh;
  }
}
header .logo {
  position: absolute;
  top: calc(var(--spacer) * 2);
  left: calc(var(--spacer) * 2);
}
.section-title {
  color: var(--clr-neutral-300);
}
.section-title,
.section-subtitle {
  font-size: var(--fs-600);
}
.article-img {
  object-fit: cover;
  width: 100%;
  height: 12.5rem;
  border-radius: var(--br);
}
section {
  padding: 2.5rem 0;
}
@media (min-width: 40em) {
  .hero-title.fs-900 {
    font-size: var(--fs-lg);
  }

  .hero-body.fs-600 {
    font-size: var(--fs-900);
  }
  
  section {
    padding: 3.5rem 0;
  }

  .section-title,
  .section-subtitle {
    font-size: var(--fs-900);
  }
}
form {
  font-family: var(--ff-sans);
}
.article-info {
  color: var(--clr-neutral-300);
  font-family: var(--ff-sans);
  font-size: var(--fs-200);
  display: flex;
  gap: var(--spacer);
}
/* homepage styles */
.hero {
  --flow-space: 2em;
}
@media (min-width: 40em) {
  .hero-title.fs-900 {
    font-size: var(--fs-lg);
  }

  .hero-body.fs-600 {
    font-size: var(--fs-900);
  }
}
.primary-footer-content {
  padding: 3em;
}
@media (max-width: 40em) {
  .primary-footer {
    margin-bottom: 3em;
  }
}
.site-map li > a,
.resources li > a {
  color: var(--clr-neutral-900);
}
.social {
  display: flex;
}
.social li {
  margin-right: 3rem;
}
.copyright {
  order: 2;
}
.copyright,
.social li > a{
  font-family: var(--ff-serif);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-300);
}
@media (min-width: 40em) {
  .primary-footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-logo {
    margin-right: auto;
  }

  .footer-nav {
    display: flex;
    gap: 5em;
    margin-left: auto;
  }

  .copyright {
    text-align: center;
    order: 0;
    margin: 0 auto;
  }

  .social {
    justify-content : center;
    margin: 0 auto;
  }

  .social-links {
    padding: 0 1em 1em;
  }

}

