:root {
  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h1,
h2,
h3 {
  line-height: 1;
}
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  background: none;
}
.a-center {
  align-items: center;
}
.box-width {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.split {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
.split > * + * {
  margin: calc(var(--spacer) * 3) 0 0 0;
}
@media (min-width: 40em) {
  .split {
    flex-direction: row;
    justify-content: space-between;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin: 0 0 0 var(--gap, var(--spacer));
  }
}
.container {
  padding: 0 var(--spacer);
  max-width: 70rem;
  margin: 0 auto;
}
.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}
.flow-content--large {
  --flow-space: 3rem;
}
/* general styles */

