/* general styles */

body {
  font-size: var(--fs-400);
  font-family: var(--ff-sans);
  font-weight: var(--fw-300);
  color: var(--clr-neutral-900);
  padding: 1rem;
}

a {
  font-family: var(--ff-sans);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  text-decoration: none;
}

.primary-header {
  background-image: url(/docs/img/hero.jpg);
  background-color: var(--clr-primary-400);
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  padding: 2rem;
}

@media (min-width: 40em) {
  .primary-header {
    min-height: 75vh;
  }
}

header .logo {
  position: absolute;
  top: calc(var(--spacer) * 2);
  left: calc(var(--spacer) * 2);
}

.section-title {
  color: var(--clr-neutral-300);
}

.section-title,
.section-subtitle {
  font-size: var(--fs-600);
}

.article-img {
  object-fit: cover;
  width: 100%;
  height: 12.5rem;
  border-radius: var(--br);
}

section {
  padding: 2.5rem 0;
}

@media (min-width: 40em) {
  .hero-title.fs-900 {
    font-size: var(--fs-lg);
  }

  .hero-body.fs-600 {
    font-size: var(--fs-900);
  }
  
  section {
    padding: 3.5rem 0;
  }

  .section-title,
  .section-subtitle {
    font-size: var(--fs-900);
  }
}

form {
  font-family: var(--ff-sans);
}

.article-info {
  color: var(--clr-neutral-300);
  font-family: var(--ff-sans);
  font-size: var(--fs-200);
  display: flex;
  gap: var(--spacer);
}


/* homepage styles */

.hero {
  --flow-space: 2em;
}

@media (min-width: 40em) {
  .hero-title.fs-900 {
    font-size: var(--fs-lg);
  }

  .hero-body.fs-600 {
    font-size: var(--fs-900);
  }
}